.ol-mouse-position {
  top: unset;
  left: unset;
  bottom: 0.5em;
  right: 0.5em;

  color: var(--ol-subtle-foreground-color);
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--ol-partial-background-color);
  border-radius: 2px;
  padding: 0.2em 0.8em;
  text-decoration: none;
}

.ol-tooltip {
  text-align: center;
  height: 38px;
  line-height: 24px;
  padding: 5px;
  background-color: rgb(255, 78, 78);
  border: solid 1px rgb(184, 56, 56);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "map layers";
  grid-template-rows: min-content auto;
  grid-template-columns: auto min-content;
  gap: 16px;
}

@media print {
  .map-wrapper {
    grid-template-areas: "map layers";
    grid-template-rows: auto;
    grid-template-columns: auto min-content;
  }
}

.map-toolbar {
  grid-area: toolbar;
}

.map-map {
  grid-area: map;
}

.map-layers {
  grid-area: layers;
  width: 270px;
}
