$primary: #00293e;
$secondary: #f2f4f6;
$success: #28a745;
$info: #3ba1b4;
$warning: #e0a800;
$danger: #d9534f;
$light: #f8f9fa;
$dark: #343a40;

$banner-size: 200px;
$navbar-size: 75px;
$footer-size: 55px;

@import "../node_modules/bootstrap/scss/bootstrap";

#page {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "banner"
    "navbar"
    "main"
    "footer";
  width: 100vw;
  min-height: 100vh;
}

#banner {
  height: $banner-size;
  grid-area: banner;
}

/*permet de limiter la hauteur des image en gardant le ratio*/
#banner img {
  max-height: 100%;
  width: auto;
}

#navbar {
  height: $navbar-size;
  grid-area: navbar;
}

#main {
  grid-area: main;
}

#footer {
  height: $footer-size;
  grid-area: footer;
}

.copyright {
  font-size: 0.7rem;
}

@media print {
  .noprint {
    display: none;
  }
  .printable-no-margin {
    margin: 0;
    padding: 0;
  }
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.go-top-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
}

.bounce-on-hover {
  transition: transform 0.3s ease-in-out;
}

.bounce-on-hover:hover {
  transform: translateY(-5px);
}
