$primary: #00293e;
$secondary: #f2f4f6;
$success: #28a745;
$info: #3ba1b4;
$warning: #e0a800;
$danger: #d9534f;
$light: #f8f9fa;
$dark: #343a40;

$footer-size: 55px;
$header-size: 275px;
$main-size: calc(100vh - $footer-size - $header-size);
@import "../node_modules/bootstrap/scss/bootstrap";

.header {
  height: $header-size;
}
/*permet de limiter la hauteur des image en gardant le ratio*/
.header img {
  max-height: 200px;
  height: auto;
}

.main {
  min-height: $main-size;
}

.footer {
  height: $footer-size;
}

.copyright {
  font-size: 0.7rem;
}
