@value cssBlueDark from  "../../../variable.module.css";

.icon {
  font-size: 2.5rem;
  margin-right: 5px;
}

.title {
  color: cssBlueDark;
  font-weight: bold;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.pageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}
